
.AppContainer {
    background-color: blueviolet;
    color: white;
}

.activeHeaderTitle {
    background-color: brown;
    color: white;
    padding: 12px;
}

.inActiveHeaderTitle {
    background-color: rgb(50, 165, 42);
    color: white;
    padding: 12px;
}

.bio {
    background-color: black;
    color: white;
}

.darkMode {
    background-color: blue;
    color: black;
}